body { background-color: #515151;}

.container {
  width: auto;
  max-width: 500px;
  padding: 0 15px;
}

#status-box-template { display: none; }

.status-box {
  height: 120px;
  padding: 10px;
  overflow: hidden;
  max-width: 500px;
}

.status-box:nth-of-type(6n+1) { height: 100%; background-color: #1564f9; }
.status-box:nth-of-type(6n+2) { height: 100%; background-color: #3fc41b; }
.status-box:nth-of-type(6n+3) { height: 100%; background-color: #fa8e1f; }
.status-box:nth-of-type(6n+4) { height: 100%; background-color: #4ca8ea; }
.status-box:nth-of-type(6n+5) { height: 100%; background-color: #f71347; }
.status-box:nth-of-type(6n+6) { height: 100%; background-color: #fcc124; }

.status-box:nth-of-type(6n+1).closed { height: 100%; color: #1564f9; }
.status-box:nth-of-type(6n+2).closed { height: 100%; color: #3fc41b; }
.status-box:nth-of-type(6n+3).closed { height: 100%; color: #fa8e1f; }
.status-box:nth-of-type(6n+4).closed { height: 100%; color: #4ca8ea; }
.status-box:nth-of-type(6n+5).closed { height: 100%; color: #f71347; }
.status-box:nth-of-type(6n+6).closed { height: 100%; color: #fcc124; }

.outline {
  height: 100px;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.name {
  padding-top: 15px;
  font-weight: 500;
  font-size: 17pt;
}

.time {
  font-weight: 200;
}

/* Door is open */
.open {
  color: white;
  background-color: transparent;
}
.open .name:after {
  content: " door is open" ;
}
.open .outline {
  border: 5px solid white;
}

/* Door is closed */
.closed .name:after {
  content: " door is closed" ;
}
.closed .outline {
  background-color: white;
  border: 3px solid white;
}

/* Door is in an unknown state */
.offline {
  color: white;
  background-color: transparent;
}
.offline .name:after {
  content: " is offline" ;
}
.offline .time {
  display: none;
}
.offline .outline {
  border: 3px dashed white;
}
