.container {
  width: auto;
  max-width: 500px;
  padding: 0 15px;
}

#status-box-template { display: none; }

.status-box {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.status-box.open {
  border: 7px solid purple;
  color: purple;
}

.status-box.closed {
  border: 5px solid purple;
  background-color: purple;
  color: white;
}

.status-box.offline {
  color: white;
  border: 5px dashed #ccc;
  background-color: #ddd;
}
